.example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
}

.card-footer {
    background-color: #e9eef7;
    bottom: 100%;
    height: 62px;
    padding-top: 16px;
    padding-left: 22%;
    border-top: 0px;
}

.card-header {
    padding-bottom: 0%;
    background-color: #e9eef7;
    border: none;
}

.btn-formulario-cabecera {
    left: 5px;
    width: 110px;
    height: 25px;
    align-content: center;
    line-height: 22px;
    /*     background-color: #005fff;
 */
}

mat-header-row {
    min-height: 15px;
}


/*redimension de columnas OT y CLIENTE de la tabla*/

.mat-column-tipoArriendo {
    flex: 0 0 153px;
    padding-left: 0px;
}

.mat-column-valor {
    flex: 0 0 105px;
    padding-left: 0px;
}

.mat-column-precio {
    flex: 0 0 124px;
    padding-left: 0px;
}


/* .mat-column-combustible {
    padding-left: 0px;
} */

.mat-column-operario {
    flex: 0 0 225px;
    padding-left: 0px;
}