.scrollbar {
    height: 650px;
    overflow-y: scroll;
    padding-right: 27px;
    padding-left: 30px;
}

.container {
    background-color: #e9eef7;
}

#card-maq {
    float: 30px;
    border: 0;
    border-radius: 9px;
    /* bottom: 85px; */
    /* -webkit-box-shadow: 0px 0px 2px #747474; */
}

.btn-formulario-cabecera {
    left: 5px;
    width: 110px;
    height: 25px;
    align-content: center;
    line-height: 22px;
    /*     background-color: #005fff;
 */
}

.card-footer {
    background-color: #e9eef7;
    bottom: 100%;
    height: 62px;
    padding-top: 16px;
    padding-left: 22%;
    border-top: 0px;
}

#col-4-fields {
    width: 97%;
}

#col-fecha-renovacion {
    width: 92%;
    padding-left: 203px;
}

#col-data {
    padding-left: 70px;
}

.arrow-right-mantencion {
    position: absolute;
    max-width: 0px;
    left: 794px;
    top: 86px;
    color: #757575;
}

.arrow-right-renovacion {
    position: absolute;
    max-width: 0px;
    left: 794px;
    top: 147px;
    color: #757575;
}

.arrow-right-precio-arr {
    position: absolute;
    max-width: 0px;
    left: 794px;
    top: 86px;
    color: #757575;
}

.arrow-right-valor-min {
    position: absolute;
    max-width: 0px;
    left: 794px;
    top: 147px;
    color: #757575;
}

.arrow-right-ultimo-reg {
    position: absolute;
    max-width: 0px;
    left: 794px;
    top: 208px;
    color: #757575;
}


/*VALIDACIONES FORM*/

#validate_Nombre {
    position: absolute;
    top: 23%;
    left: 36%;
}

#validate_Descripcion {
    position: absolute;
    top: 23%;
    left: 58%;
}

#validate_Marca {
    position: absolute;
    top: 51%;
    left: 36%;
}

#validate_Modelo {
    position: absolute;
    top: 51%;
    left: 58%;
}

#validate_TipoMaquina {
    position: absolute;
    top: 23%;
    left: 80%;
}

#validate_Anio {
    position: absolute;
    top: 51%;
    left: -12%;
}

#validate_Codigo {
    position: absolute;
    top: 23%;
    left: 36%;
}

#validate_EstadoMaquina {
    position: absolute;
    top: 23%;
    left: 80%;
}

#validate_MedidaMantencion {
    position: absolute;
    top: 51%;
    left: 80%;
}

#validate_TipoRenovacion {
    position: absolute;
    top: 79%;
    left: 80%;
}

#validate_PrecioArriendo {
    position: absolute;
    top: 40%;
    left: 58%;
}

#validate_TipoCobroArriendo {
    position: absolute;
    top: 40%;
    left: 80%;
}

#validate_TipoValMinArriendo {
    position: absolute;
    top: 62%;
    left: 80%;
}

#validate_TipoRegistro {
    position: absolute;
    top: 84%;
    left: 80%;
}

#cdk-overlay-pane {
    width: 446px;
    top: 253.575px;
    left: 310.562px;
}

#cdk-overlay-0 {
    width: 446px;
    top: 253.575px;
    left: 310.562px;
}

#option-cliente-list {
    width: 446px;
    top: 253.575px;
    left: 310.562px;
}