<div class="card">

    <form (submit)="setResumenArriendo()">
        <div class="card-header">

            <div class="row ">
                <div class="col-md-6 mt-1" align="left">
                    <h2 class="mat-h3">Finalizar Orden - OA-123</h2>
                </div>

            </div>
        </div>

        <div class="card-body">
            <div class="row" id="fila-busqueda-cliente">
                <div class="col-md-3 scrollbar" align="left">
                    <div class="row">
                        <!--  Cliente -->



                        <table class="table borderless" id="table-cliente">

                            <tbody>
                                <tr>
                                    <td>
                                        <h2>Municipalidad de Paine</h2>
                                    </td>


                                </tr>

                                <tr>
                                    <td>
                                        <p><b>Rut:</b> 22.654.623-8</p>
                                    </td>
                                    <td>
                                        <p><b>Ubicación del trabajo:</b> Av Calle principal 3445, Paine</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p><b>Contacto:</b> Manuel Ortiz</p>
                                    </td>
                                    <td>
                                        <p><b>Teléfono:</b> 945684123</p>
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        <p><b>Email:</b> contacto@municipalidadpaine.cl</p>
                                    </td>

                                </tr>
                            </tbody>
                        </table>

                    </div>
                    <mat-divider></mat-divider>
                    <br>
                    <div class="row">
                        <!--  Maquinaria -->
                        <div class="icon-row-maq">
                            <mat-icon>arrow_forward_ios</mat-icon>
                        </div>


                        <table class="table borderless" id="table-maquina">

                            <tbody>
                                <tr>
                                    <td>
                                        <h2>G001 | Grua 01</h2>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p><b>Valor mínimo:</b> 160 Hrs.</p>
                                    </td>
                                    <td>
                                        <p><b>Precio:</b> $ 3.750 /Hr. </p>
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        <p><b>Implemento:</b> Rastra 01</p>
                                    </td>
                                    <td>
                                        <p><b>Operario:</b> Sergio Valenzuela</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p><b>Combustible:</b> Si</p>
                                    </td>
                                    <td>
                                        <p><b>Cilindro de gas:</b> No</p>
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        <p><b>Nivel de estanque:</b> 3/4</p>
                                    </td>
                                    <td>
                                        <p><b>Traslado:</b> No</p>
                                    </td>

                                </tr>

                            </tbody>
                        </table>
                        <br><br>
                        <mat-divider></mat-divider>

                        <br>

                    </div>


                    <div class="row">
                        <!--  Maquinaria -->
                        <div class="icon-row-maq">
                            <mat-icon>arrow_forward_ios</mat-icon>
                        </div>



                        <table class="table borderless" id="table-maquina">

                            <tbody>
                                <tr>
                                    <td>
                                        <h2>G001 | Grua 01</h2>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p><b>Valor mínimo:</b> 160 Hrs.</p>
                                    </td>
                                    <td>
                                        <p><b>Precio:</b> $ 3.750 /Hr. </p>
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        <p><b>Implemento:</b> Rastra 01</p>
                                    </td>
                                    <td>
                                        <p><b>Operario:</b> Sergio Valenzuela</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p><b>Combustible:</b> Si</p>
                                    </td>
                                    <td>
                                        <p><b>Cilindro de gas:</b> No</p>
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        <p><b>Nivel de estanque:</b> 3/4</p>
                                    </td>
                                    <td>
                                        <p><b>Traslado:</b> No</p>
                                    </td>

                                </tr>

                            </tbody>
                        </table>
                        <br><br>
                        <mat-divider></mat-divider>

                    </div>

                </div>

            </div>
            <br>

        </div>
        <div class="card-footer">



            <button type="submit" class="btn btn-primary" routerLink="ordentrabajo">Finalizar</button>
        </div>
    </form>
</div>